<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DocClass.Properties.Settings>
            <setting name="clasificatorType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="documentRepresentationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dictionaryType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pathDir" serializeAs="String">
                <value>C:\\Documents and Settings\\Tomi\\Pulpit\\rzeczy</value>
            </setting>
            <setting name="pathFile" serializeAs="String">
                <value />
            </setting>
            <setting name="hiddenLayerInitNeuronCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="outputLayerNeuronCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="pathStopWords" serializeAs="String">
                <value>.\\Preprocessing\\stopwords.txt</value>
            </setting>
        </DocClass.Properties.Settings>
    </userSettings>
</configuration>