<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DocClass.Properties.Settings>
            <setting name="clasificatorType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="documentRepresentationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dictionaryType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberNeuronsHidden" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="pathStopWords" serializeAs="String">
                <value>./stopwords.txt</value>
            </setting>
            <setting name="pathLearningDir" serializeAs="String">
                <value />
            </setting>
            <setting name="pathSummaryFile" serializeAs="String">
                <value />
            </setting>
            <setting name="pathClassificationDir" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="operationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberAllCategories" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="numberNeuronsOut" serializeAs="String">
                <value>1</value>
            </setting>
        </DocClass.Properties.Settings>
    </userSettings>
</configuration>